<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
    <appSettings>
      <add key="viblo_forbidden" value="viblo.asia" />
      <add key="portal_forbidden" value="portal2.hcmus.edu.vn" />
      <add key="crackmes_forbidden" value="crackmes.dreamhosters.com" />
      <add key="doantn_forbidden" value="sam.doantn.hcmus.edu.vn/"/>
    </appSettings>
  
</configuration>