<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
    <appSettings>
      <add key="youtube_Forbidden" value="www.youtube.com" />
      <add key="youtube_Forbidden_1" value="youtube.com" />
    </appSettings>
  
</configuration>